# Variables

In [1]:
a = 10
b = 'string_b'
c = "string_c"
d = 0.999

In [2]:
print(a, b, c, d)

10 string_b string_c 0.999

In [3]:
t = (a, b)

In [4]:
print(t)

(10, 'string_b')

In [5]:
(c, d) = t

In [6]:
print(c, d)

10 string_b

In [7]:
a = 10
b = 20
a, b = b, a
print("a =", a)
print("b =", b)

a = 20
b = 10

In [8]:
print("a = %s" % a)
print("b = %s" % b)

a = 20
b = 10

In [9]:
n = 0.0099999999
print("n = %.2f" % n)

n = 0.01

# Control Flow

## Conditions

In [10]:
a = 10
if a >=5:
    print('the statement is true')
else:
    print('the statement is false')

the statement is true

In [11]:
a = 3
if a >=5:
    print('the first statement is true')
elif a >=0:
    print('the second statement is true')
else:
    print('both statements are false')

the second statement is true

## For Loop

In [14]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [15]:
for i in range(10, 100, 5):
    print(i)

10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95

In [16]:
for i in range(10):
    print(i)
    if i > 5:
        break

0
1
2
3
4
5
6

In [17]:
for i in range(10):
    if i <=5:
        continue
    print(i)

6
7
8
9

## While Loop

In [18]:
cnt = 0
while cnt <= 5:
    print(cnt)
    cnt = cnt + 1

0
1
2
3
4
5

# Collections

## Lists

In [19]:
numbers = [1, 2, 3, 5, 7, 11, 13]

In [20]:
el = numbers[1]
print(el)

2

In [21]:
numbers[1] = -2

In [22]:
print(numbers)

[1, -2, 3, 5, 7, 11, 13]

In [23]:
print(numbers[-1], numbers[-2])

13 11

In [24]:
numbers.append(17)

In [25]:
for n in numbers:
    print(n)

1
-2
3
5
7
11
13
17

In [26]:
for i in range(len(numbers)):
    n = numbers[i]
    print("numbers[%d] = %d" % (i, n))

numbers[0] = 1
numbers[1] = -2
numbers[2] = 3
numbers[3] = 5
numbers[4] = 7
numbers[5] = 11
numbers[6] = 13
numbers[7] = 17

In [27]:
for i, n in enumerate(numbers):
    print("numbers[%d] = %d" % (i, n))

numbers[0] = 1
numbers[1] = -2
numbers[2] = 3
numbers[3] = 5
numbers[4] = 7
numbers[5] = 11
numbers[6] = 13
numbers[7] = 17

In [28]:
list1 = [1, 2, 3, 5]
list2 = [7, 11, 13, 17]

In [29]:
new_list = list1 + list2

In [30]:
print(new_list)

[1, 2, 3, 5, 7, 11, 13, 17]

In [31]:
list1 = [1, 2, 3, 5]
list2 = [7, 11, 13, 17]
list3 = [19, 23, 27, 29]

In [32]:
lists = [list1, list2, list3]

In [33]:
for l in lists:
    print(l)

[1, 2, 3, 5]
[7, 11, 13, 17]
[19, 23, 27, 29]

### Slicing

In [34]:
numbers = [1, 2, 3, 5, 7]

In [35]:
top3 = numbers[0:3]

In [36]:
print(top3)

[1, 2, 3]

In [37]:
top3 = numbers[:3]

In [38]:
print(top3)

[1, 2, 3]

In [39]:
last3 = numbers[2:]

In [40]:
print(last3)

[3, 5, 7]

## Tuples

In [41]:
numbers = (1, 2, 3, 5, 7, 11, 13)

In [42]:
el = numbers[1]
print(el)

2

In [43]:
numbers[1] = -2

TypeError: 'tuple' object does not support item assignment

In [44]:
numbers = numbers + (17,)

In [45]:
print(numbers)

(1, 2, 3, 5, 7, 11, 13, 17)

## Set

In [46]:
numbers = {1, 2, 3, 5, 7, 11, 13}

In [47]:
print(numbers)

{1, 2, 3, 5, 7, 11, 13}

In [48]:
empty_set = set()

In [49]:
print(empty_set)

set()

In [50]:
empty_dict = {}

In [51]:
print(empty_dict)

{}

In [52]:
print(1 in numbers)

True

In [53]:
numbers.add(17)

In [54]:
print(numbers)

{1, 2, 3, 17, 5, 7, 11, 13}

In [55]:
for n in numbers:
    print(n)

1
2
3
17
5
7
11
13

## Dictionaries

In [56]:
words_to_numbers = {
'one' : 1,
'two' : 2,
'three' : 3,
}

In [57]:
print(words_to_numbers)

{'one': 1, 'two': 2, 'three': 3}

In [58]:
print(words_to_numbers['one'])

1

In [59]:
print(words_to_numbers['five'])

KeyError: 'five'

In [60]:
if 'five' in words_to_numbers:
    print(words_to_numbers['five'])
else:
    print('not in the dictionary')

not in the dictionary

In [61]:
value = words_to_numbers.get('five')
print(value)

None

In [62]:
value = words_to_numbers.get('five', -1)
print(value)

-1

In [63]:
for k in words_to_numbers.keys():
    v = words_to_numbers[k]
    print("%s: %d" % (k,v))

one: 1
two: 2
three: 3

In [64]:
for k, v in words_to_numbers.items():
    print("%s: %d" % (k, v))

one: 1
two: 2
three: 3

## List comprehension

In [65]:
numbers = [1, 2, 3, 5, 7]

In [66]:
squared = []

In [67]:
for n in numbers:
    s = n * n
    squared.append(s)

In [68]:
print(squared)

[1, 4, 9, 25, 49]

In [69]:
squared = [n * n for n in numbers]

In [70]:
print(squared)

[1, 4, 9, 25, 49]

In [71]:
squared = [n * n for n in numbers if n > 3]

In [72]:
print(squared)

[25, 49]

# Code Reusability

In [73]:
def print_numbers(max):
    for i in range(max + 1):
        print(i)

In [74]:
print_numbers(10)

0
1
2
3
4
5
6
7
8
9
10

In [75]:
print_numbers(max=10)

0
1
2
3
4
5
6
7
8
9
10

In [79]:
class NumberPrinter:
    def __init__(self, max):
        self.max = max

    def print_numbers(self):
        for i in range(self.max + 1):
            print(i)

In [80]:
num_printer = NumberPrinter(max=10)

In [81]:
num_printer.print_numbers()

0
1
2
3
4
5
6
7
8
9
10

## Importing Code

In [82]:
import useful_code

In [83]:
num_printer = useful_code.NumberPrinter(max=10)
num_printer.print_numbers()

0
1
2
3
4
5
6
7
8
9
10

In [84]:
import useful_code as uc
num_printer = uc.NumberPrinter(max=10)
num_printer.print_numbers()

0
1
2
3
4
5
6
7
8
9
10

## Installing Libraries

In [85]:
pip install numpy scipy pandas

Requirement already satisfied: numpy in c:\users\rahul julka\anaconda3\lib\site-packages (1.24.3)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: scipy in c:\users\rahul julka\anaconda3\lib\site-packages (1.11.1)
Requirement already satisfied: pandas in c:\users\rahul julka\anaconda3\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\rahul julka\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\rahul julka\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\rahul julka\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\rahul julka\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)